.notFound{
    background-color: #f3f3f3;
    position: relative;
    padding-bottom: 50px;
    position: relative;
    height: 100vh;
}
.notFoundGraphic {
    position: relative;
}
.swing{
    position: absolute;
    top: 0px;
    left: calc(50% - 65px);
    margin: 0;
    width: 130px;
}
.errorImage{
    height: 120px;
    margin-top: 180px;
}
.oops{
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
    color: #035489;
    margin: 32px 0 0 0;
}
.notFound p {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.57;
    color: #555555;
    margin: 10px auto 20px;
}
.notFound p {font-size: 13px;}

.notFound button {
    width: 350px;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .notFound button {
        width: 100%;
    }
}
.animated{
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    animation-name: swing;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      -moz-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      -moz-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      -moz-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      -moz-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      -moz-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
}
@keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      -moz-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      -moz--transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      -moz-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      -moz-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      -moz-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
