.heading{
    color: blue;
}
.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonClass{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.counterOuter{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 50px;
}